:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Grid Styles */
.grid {
  display: inline-block;
  padding: 10px;
  background: #f0f0f0;
  border-radius: 8px;
 }

.row {
  display: flex;
}

.cell {
  width: 8vw;
  height: 20vh;
  border: 2px solid #666;
  margin: 2px;
  background: white;
  border-radius: 4px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}